@import "tailwindcss";

:root {
  --verde: #00C46A;
  --rojo: #FF5C5C;
  --dorado: #FFBA00;
  --oscuro: #1A1A2E;
  --fondo: #FAFAFA;
}

body {
  background: var(--fondo);
  color: var(--oscuro);
  font-family: 'Inter', Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
